{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Investors</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>


<body>

<h2 style="color:black"><b>{{subject}}</b></h2>

<div>
    <h3>Hello, Client Email and Password</h3>
</div>

<div><p>{{email}} {{password}}</p></div>

<div>
    <h5><b>Best Regards!!!</b></h5>
    <h5><b>Team</b></h5>
</div>


<div style="font-size:.7rem; color:white; background:blue;">&copy;Hack</div>

</body>

</html>


